#projects {
  /* Removed min-height to allow content to dictate height */
  padding-top: 20px; /* Added padding to control top spacing */
  padding-bottom: 20px; /* Added padding to control bottom spacing */
}

#projects h1 {
  font-size: 2.5rem;
  margin-top: 10px; /* Reduced margin-top */
  margin-bottom: 50px; /* Reduced margin-bottom */
  font-weight: 600;
}

#projects h2 {
  text-align: center;
}

#projects p {
  text-align: center;
}

.project-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px; /* Reduced margin-top */
  width: 90%;
  margin: 0 auto;
}

.project {
  background-color: #333;
  padding: 20px; /* Reduced padding */
  margin: 20px;
  width: 30%; /* Reduced width */
  box-sizing: border-box;
  border-radius: 10px;
  text-align: left;
}

.project img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease;
}

.project img:hover {
  transform: scale(1.05);
}

.project h2 {
  margin-top: 20px;
}

.project p {
  margin: 0.5rem 0;
  margin-bottom: 20px;
}

.project ul {
  padding-left: 1.5rem;
}

.project a {
  color: #61dafb;
  text-decoration: none;
}

.project a:hover {
  text-decoration: underline;
}

.slideshow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.slideshow-container img {
  width: 100%;
  border-radius: 8px;
}

.slideshow-arrows {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.slideshow-arrows button {
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
  margin: 0 10px;
}
.slideshow-arrows button:hover {
  color: #ccc;
}

.tech-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 2px;
  justify-content: center;
}

.tech-button {
  background-color: rgb(36, 34, 34);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.875rem;
  font-weight: medium;
  text-align: center;
  user-select: none;
}