html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem; /* Adjust padding to add space on the sides */
  box-sizing: border-box; /* Ensure padding is included in the element's total width */
}

nav .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

nav .logo a {
  color: white;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

section {
  padding: 100px 20px;
  text-align: center;
}

#about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#projects {
  min-height: 100vh;
}

.project-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project {
  background-color: #333;
  padding: 20px;
  margin: 10px;
  width: 30%;
  box-sizing: border-box;
  border-radius: 8px;
}

#contact {
  min-height: 100vh;
}